<div class="login-register-form-wrap">
    <div class="content">
        <h1>فراموشی رمز عبور</h1>
        <p>لطفا ایمیل خود را برای بازیابی رمز عبور وارد نمایید.</p>
    </div>
    {{#haveError error}}
    {{/haveError}}
    {{#haveSuccess success}}
    {{/haveSuccess}}

    <div class="login-register-form">
        <form action="/auth/forget-password" method="post">
            <div class="row">
                <div class="col-12 mb-20"><input class="form-control" name="email" type="text" placeholder="ایمیل">
                </div>


                <div class="col-12 mt-10"><button class="button button-primary button-outline">ارسال لینک
                        فراموشی</button></div>
            </div>
        </form>
    </div>
</div>