<div class="login-register-form-wrap">

    <div class="content">
        <h1>ثبت نام</h1>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. .</p>
    </div>

    <div class="login-register-form">
        {{#haveError error}}
        {{/haveError}}
        <form action="/auth/register" method="post">
            <div class="row">
                <div class="col-12 mb-20"><input class="form-control" name="firstname" type="text" placeholder="نام">
                </div>
                <div class="col-12 mb-20"><input class="form-control" name="lastname" type="text"
                        placeholder="نام خانوادگی">
                </div>
                <div class="col-12 mb-20"><input class="form-control" name="email" type="text"
                        placeholder="نام کاربری / ایمیل">
                </div>
                <div class="col-12 mb-20"><input class="form-control" name="password" type="password"
                        placeholder="رمز عبور"></div>
                <div class="col-12 mb-20"><input class="form-control" name="confirmPassword" type="password"
                        placeholder="تایید رمز عبور">
                </div>
                <div class="col-12 mb-20 g-recaptcha" data-sitekey="6Lc6J1AeAAAAAPXCAKG-6DRi_Itz1axFpfeuj_DT">
                    
                </div>
                <div class="col-12">
                    <div class="row justify-content-between">
                        <div class="col-auto mb-15">در حال حاضر حساب کاربری دارید؟ <a href="/auth/login">هم اکنون وارد
                                شوید.</a></div>
                    </div>
                </div>
                <div class="col-12 mt-10"><button class="button button-primary button-outline">ثبت نام</button></div>
            </div>
        </form>

    </div>
</div>