<div class="login-register-form-wrap">
    <div class="content">
        <h1>تعیین رمز عبور</h1>
        <p>لطفا رمزعبور جدید خودرا وارد نمایید.</p>
    </div>
        {{#haveError error}}
        {{/haveError}}
        {{#haveSuccess success}}
        {{/haveSuccess}}
    <div class="login-register-form">
        <form action='/auth/reset-password/{{userId}}' method="post">
            <div class="row">
                <div class="col-12 mb-20"><input class="form-control" name="password" type="password"
                        placeholder="رمزعبور جدید">
                </div>
                <div class="col-12 mb-20"><input class="form-control" name="confirmpassword" type="password"
                        placeholder="تکرار رمز عبور">
                </div>


                <div class="col-12 mt-10"><button class="button button-primary button-outline">تایید</button></div>
            </div>
        </form>
    </div>
</div>