<!--header start-->

<!--header end-->

<!--page title start-->
<section class="section-gap section-top bg-gray text-center">
    <div class="hero-img bg-navy-overlay" data-overlay="8"
        style="background-image: url(/static/assets/img/contact-banner.jpg);"></div>
    <div class="container">
        <div class="row justify-content-md-center align-items-center text-white py-lg-5">
            <div class="col-md-7">
                <!-- heading -->
                <h2 class="">
                    تماس با ما
                </h2>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<!--intro start-->
<div class="section-gap">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center mb-lg-5 mb-4">
            <div class="col-md-6 mb-lg-5 mb-4">
                <h2 class="mb-4">ما اینجا هستیم تا به شما کمک کنیم</h2>
                <p class="text-muted">ما همیشه در کنار مشتریان خود هستیم و به خود می بالیم که مشتریان چون شما داریم!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blurb blurb-border mb-4">
                    <i class="vl-building text-primary"></i>
                    <h6 class="mb-3">ساختمان کلاب</h6>
                    <p>ایران/ارومیه/ساختمان مایکل</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blurb blurb-border mb-4">
                    <i class="vl-envelop2 text-primary"></i>
                    <h6 class="mb-3">آدرس ایمیل </h6>
                    <p>info@clab.com <br>
                        support@clab.com</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blurb blurb-border mb-4">
                    <i class="vl-chat text-primary"></i>
                    <h6 class="mb-3">تلفن شرکت</h6>
                    <p>+61 3 8376 6284 <br>
                        +61 3 8376 7654</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--intro end-->

<!--contact form start-->
<div class="section-gap pt-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="position-relative">
                    <img class="card-img-right flex-grow-1 rounded" src="/static/assets/img/cards/32b.jpg" alt="">
                    <div class="c-form-content text-left">
                        <h5 class="mb-3">می خواهید یک پروژه جدید با ما برنامه ریزی کنید؟</h5>
                        <p class="mb-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                            گرافیک است.</p>
                        <a href="#" class="btn btn-sm btn-pill btn-theme">یک سوال بپرس</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bg-gray rounded">

                <form class="p-4 py-5" action="/contactus" method="post">
                    {{#haveError error}}
                    {{/haveError}}
                    {{#haveSuccess success}}
                    {{/haveSuccess}}
                    <h5 class="mb-3">ما آنلاین هستیم</h5>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="نام">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="آدرس ایمیل">
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="موضوع">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="4" placeholder="پیام"></textarea>
                    </div>
                    <button type="submit" class="btn btn-pill btn-primary">ارسال</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!--contact form end-->

<!--FAQ start-->
<div class="section-gap py-0">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center mb-lg-5 mb-4 pb-lg-5">
            <div class="col-md-8">
                <h2 class="mb-4">پرسش متداول</h2>
                <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                    گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                    است. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card p-4 mb-4">
                    <h6 class="mb-4">کار پرداخت چگونه انجام می شود؟</h6>
                    <p class="text-muted mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-4 mb-4">
                    <h6 class="mb-4">چگونه برنامه را در لینوکس نصب کنیم؟</h6>
                    <p class="text-muted mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-4 mb-4">
                    <h6 class="mb-4">آیا هزینه پنهانی وجود دارد؟</h6>
                    <p class="text-muted mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-4 mb-4">
                    <h6 class="mb-4">نحوه دریافت خدمات از طریق آنلاین؟</h6>
                    <p class="text-muted mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. </p>
                </div>
            </div>
        </div>
    </div>
    <img src="/static/assets/img/contact-bottom.jpg" alt="">
</div>
<!--FAQ end-->