<div class="content-body">

            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3>تجارت الکترونیکی <span>/ ویرایش دسته</span></h3>
                    </div>
                </div><!-- Page Heading End -->



            </div><!-- Page Headings End -->

            <!-- Add or Edit Product Start -->
            <div class="add-edit-product-wrap col-12">

                <div class="add-edit-product-form">
                    <form action="/admin/product/category/edit/?productId={{categoryData.id}}" method="Post">
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-30"><h4 class="title">نام دسته</h4><input class="form-control" name="title" type="text" value="{{categoryData.title}}"></div>
                            <div class="col-12 mb-30"><h4 class="title">توضیحات دسته</h4><textarea name="description" class="form-control">{{categoryData.description}}</textarea></div>
                        </div>

                        <!-- Button Group Start -->
                        <div class="row">
                            <div class="d-flex flex-wrap justify-content-end col mbn-10">
                                <button class="button button-outline button-primary mb-10 ml-10 mr-0">ذخیره</button>
                            </div>
                        </div><!-- Button Group End -->

                    </form>
                </div>

            </div><!-- Add or Edit Product End -->

        </div>